/*
Theme Name: WP NIC
Theme URI: http://cathyscanlon.com/themes/wp-nic
Description: Custom theme for neuroimagingconsult.com
Author: Cathy Scanlon
Author URI: http://cathyscanlon.com/
Version: 1.0
Tags: responsive, bootstrap
*/

@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css');

html, body {
	height:100%;
	margin: 0;
	padding: 0;
}
 
body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #F8F8F8;
	padding-bottom: 50px;
	
}

#wrapper {
	min-height:100%;
	position:relative;
	padding-bottom: 50px;
}

p, a, ul, li {
	margin: 0;
	padding: 0;
}

p {
	color: #666666;
}

h1, h2, h3 {
	color: #343436;
	margin: 0;
}

h1 {
	font-size: 1.5em;
	text-shadow: 0px -0.5px 0.5px #343436;
}

h2 {
	font-size: 1em;
	text-shadow: 0px -0.5px 0.5px #343436;
	padding-bottom: 1em
}

h3 {
	font-size: 0.9em;
	padding-bottom: 1em;
}

/*navigation bar*/
.navbar {
	margin: 0;
	padding: 0;
}

.navbar-harvest {
	padding: 0;
}

.navbar .btn-harvest {
	margin-top: 30px;
	margin-right: 20px;
}

.navbar-harvest .navbar-inner {
	padding: 0;
  	background: #343436;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a5a5d), color-stop(100%, #343436));
	background: -webkit-linear-gradient(top, #5a5a5d,#343436);
	background: -moz-linear-gradient(top, #5a5a5d,#343436);
	background: -o-linear-gradient(top, #5a5a5d,#343436);
	background: -ms-linear-gradient(top, #5a5a5d,#343436);
	background: linear-gradient(top, #5a5a5d,#343436);
}	

.navbar-harvest .navbar-inner .nav {
	margin: 0;
	padding: 0;
	float: right;
}	

.navbar-harvest .brand {
	color: #A0A0A0;
	text-shadow: none;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
}

.navbar-harvest .navbar-inner .nav {
	margin-right: 30px;
}

.navbar-harvest .navbar-inner .nav li a {
	color: #A0A0A0;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 5px;
	font-size: 0.9em;
	text-shadow: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-harvest .navbar-inner .nav li a:hover {
	color: #FC0896;
}

.main a:hover, .footer a:hover {
	text-decoration: none;
	color: #FC0896;
}

.navbar-harvest .navbar-inner .nav li.current_page_item a {
	background-color: #FC0896;
	color: #343436;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fd3aab), color-stop(100%, #FC0896));
	background: -webkit-linear-gradient(top, #fd3aab,#FC0896);
	background: -moz-linear-gradient(top, #fd3aab,#FC0896);
	background: -o-linear-gradient(top, #fd3aab,#FC0896);
	background: -ms-linear-gradient(top, #fd3aab,#FC0896);
	background: linear-gradient(top, #fd3aab,#FC0896);
}

.main {
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 50px;
}

.banner {
	padding-top: 50px;
	padding-bottom: 20px;
}

.banner-writing {
	color: #666666;
	margin: 15px;
}

.banner-writing h1 {
	line-height: 1.5em;
	font-size: 2em;
}

.banner-writing a, .banner-writing p {
	color: #A0A0A0;
	line-height: 150%;
	font-size: 1em;
}

.banner-writing a {
	color: #343436;
}

.banner-writing p {
	padding-top: 0.7em;
	padding-bottom: 0.5em;
	padding-right: 5em;
}

.banner-pic {
	width: 100%;
	/*margin: 1px;*/
	/*margin-top: 1em;*/
}

.banner-pic img {
	opacity: 0.80;
	border: 4px solid #A0A0A0;
}

#pink-dot {
	color: #FC0896;
}

.col { 	
	margin-top: 70px;
	margin-right:15px; 
	margin-left: 50px;
	margin-bottom: 20px;
}

.col h3 a { 
	color: #343436;
}

.col p {
	color: #A0A0A0;
	font-size: 0.8em;
}

.services-section {
	padding-top: 1em;
	/*padding-bottom: 2em;*/
}

.services-section h3 a {
	padding-top: 2em;
	font-size: 1em;
	color: #343436;
}

.services-section img {
	width: 60%;
	margin-left: auto;
    	margin-right: auto;
	opacity: 0.8;
	padding-top: 1.5em;
}

.services-section p, .services-section a {
	font-size: 0.9em;
	padding-right: 2em;
	line-height: 150%;
	color: #A0A0A0;
}

.page-img img {
	opacity: 0.75;
}

.custom-page {
	padding-top: 50px;
	padding-bottom: 50px;	
	padding-left: 100px;
}

.custom-page h1 {
	padding-bottom: 15px;
}

.custom-page h2 {
	padding-bottom: 10px;
	padding-top: 40px;	
}

.custom-page p, .custom-page ul {
	padding-bottom: 20px;	
	color: #A0A0A0;
	padding-left: 20px;
	font-size: 0.9em;
}

.custom-page post h2 {
	font-size: 1.5em;
}


.postedin {
	padding-bottom: 100px;
}

.services-contact {
	padding-top: 50px;
}

.services-page h2 {
	border-bottom: medium double #FC0896;
}

.about-page h1 {
	padding-bottom: 30px;
}

.category-page p {
	padding-bottom: 20px;
}

.category-page h1 {
	padding-top: 30px;
}

/*footer*/

.footer {
	background-color: #343436;
	height: 50px;
	width: 100%; 
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	clear: both;
	background: #343436;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a5a5d), color-stop(100%, #343436));
	background: -webkit-linear-gradient(top, #5a5a5d,#343436);
	background: -moz-linear-gradient(top, #5a5a5d,#343436);
	background: -o-linear-gradient(top, #5a5a5d,#343436);
	background: -ms-linear-gradient(top, #5a5a5d,#343436);
	background: linear-gradient(top, #5a5a5d,#343436);
}

.footer a {
	text-decoration: none;
	border-bottom: 2px solid #FC0896;
}

.footer .footer1 {
	text-align: center;
}

.footer p, .footer a {
	color: #A0A0A0;
	font-size: 0.9em;
	line-height: 10%;
	padding-top: 20px;
}

.contactform {
	margin-left: 50px;
    margin-top: 50px;
    color: #666666;
    line-height: 150%;
}

.contactform p {
	padding-bottom: 30px;
}

/*sidebar*/
.sidebar-cat {
	width: 60%;
	margin-left: 100px;
	margin-top: 30px;
}

.sidebar-cat h2 {
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: medium double #FC0896;
	font-size: 1em;
}

.sidebar-cat p, .sidebar-cat a {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #A0A0A0;	
	line-height: 1.5em;
	font-size: 0.9em;
}

.sidebar-div {
	padding-top: 10px;
	padding-bottom: 20px;
}

.sidebar-2 { 
	float: right; 
	width: 150px; 
} 

.sidebar-none .sidebar-2 { 
	display: none; 
} 

.sidebar-2 a img { 
	width: 200px;
	border: 4px solid #A0A0A0;
	opacity: 0.80;
} 

#content { 
	width: 528px; 
}

@media screen and (max-width: 980px) { 
	#sidebar-2 { 
		margin-right: 3%; 
		max-width: 14%; 
	} 
	.sidebar1 #content { 
		max-width: 54% !important; 
	} 
} 

@media screen and (max-width: 760px) { 
	#sidebar-2 { 
		margin: 0; 
		width: 100%; 
		max-width: 100%; 
		float: none; 
		clear: both; 
	} 
	.sidebar1 #content { 
		max-width: 100% !important; 
	} 
}

.